/* =========================
  IMPORTS DE FUENTES
========================= */

@font-face {
  font-family: LeagueSpartan;
  src:
    url("./assets/fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf")
      format("truetype"),
    url("./assets/fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: TiltNeon;
  src:
    url("./assets/fonts/TiltNeon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf")
      format("truetype"),
    url("./assets/fonts/TiltNeon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf")
      format("truetype");
}

/* =========================
   VARIABLES
========================= */

:root {
  /*Fuentes*/
  --fuente-principal: TiltNeon;
  --fuente-headers: LeagueSpartan;

  /*Color*/
  --color-texto: #e8e8e8;
  --color-headerYfooter: #070719;
  --color-body: #1e293b;
  --color-hover: #8b5cf6;

  /*Extra*/
  --red-border: solid red 2px;
}

/* =========================
  RESET / BASE
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: var(--red-border);*/
  color: white;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* =========================
  LAYOUT GLOBAL
========================= */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main section {
  display: none;
  padding: 40px;
  min-height: 100%;
}

.videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

/* =========================
  SPA (LOGICA CON RADIOS)
========================= */

/*Hacemos invisibles los inputs para que no aparezcan en
la pagina pero si funcionen*/
body input[type="radio"] {
  display: none;
}

/*Para hacer un falso SPA, dependiendo de que input esté checkeado,
mostramos una seccion u otra*/
#paginaInicio:checked ~ main #seccionInicio,
#sobreMi:checked ~ main #seccionSobreMi,
#proyectos:checked ~ main #seccionProyectos,
#boxeo:checked ~ main #seccionBoxeo {
  display: flex;
}

/* Sección activa destacada */
#paginaInicio:checked ~ header label[for="paginaInicio"],
#sobreMi:checked ~ header label[for="sobreMi"],
#proyectos:checked ~ header label[for="proyectos"],
#contacto:checked ~ header label[for="contacto"],
#boxeo:checked ~ header label[for="boxeo"] {
  color: var(--color-hover);
}

/* =========================
  HEADER
========================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  min-height: 60px;
  background: var(--color-headerYfooter);
  border-bottom: #8a8a8a 1px solid;
}

.tituloHeader {
  color: white;
  font-size: 35px;
  font-family: var(--fuente-headers), serif;
  z-index: 1;
}

.seleccionarSeccion {
  font-family: var(--fuente-principal), serif;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 35px;
  z-index: 1;
}

.opcionSeccion {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: white;
  transition: transform 0.3s;
}

.opcionSeccion:hover {
  margin: 0;
  transform: scale(1.5);
  text-align: center;
}

.opcionSeccion label {
  cursor: pointer;
}

.opcionSeccion label:hover {
  color: var(--color-hover);
}

/* =========================
  SECCIÓN INICIO
========================= */

#seccionInicio {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  overflow: hidden;
  min-height: calc(100vh - 120px);
}

.titulo {
  font-family: var(--fuente-headers), serif;
  font-size: 100px;
  margin: 0;
  text-align: center;
}

.subtitulo {
  font-family: var(--fuente-principal), serif;
  font-size: 24px;
  margin-top: 10px;
  color: var(--color-hover);
  text-align: center;
}

/* =========================
  SECCIÓN SOBRE MÍ
========================= */

#seccionSobreMi {
  position: relative;
  min-height: calc(100vh - 120px);
  overflow: hidden;
  gap: 30px;
  padding: 100px 130px 100px 130px;
}

.preguntasSobreMi {
  background-color: #120867;
  border: 1px solid white;
  border-radius: 35px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  min-height: calc(65vh - 120px);
  padding: 10px;
  overflow: hidden;
}

.preguntasSobreMi h3 {
  font-family: var(--fuente-headers), serif;
  font-size: 23px;
  font-weight: bold;
}

.preguntasSobreMi p {
  font-family: var(--fuente-principal), serif;
  font-size: 16px;
  text-align: justify;
  line-height: 1.6;
}

/* =========================
  SECCIÓN PROYECTOS
========================= */
#seccionProyectos {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 30px;
}

#seccionProyectos h2 {
  font-family: var(--fuente-headers), serif;
  font-size: 50px;
}

/*Carrousel*/
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  right: 100px;
  height: 500px;
  perspective: 1000px;
}

/* Slides ocultos por defecto */
.slide {
  position: absolute;
  opacity: 0;
  width: 300px;
  transition: all 0.6s ease;
  transform-origin: center center;
}

/* Slide central */
.slide.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  z-index: 3;
  pointer-events: auto;
}

/* Slide lateral visible */
.slide.left,
.slide.right {
  opacity: 0.6;
  z-index: 2;
  filter: blur(2px);
  width: 240px;
  transition: transform 1s;
  pointer-events: none;
}

.slide.left img,
.side.right img {
  cursor: not-allowed;
}

/* Posiciones fijas */
.slide.left {
  transform: translateX(-500px) scale(0.4);
  position: absolute;
}

.slide.right {
  transform: translateX(600px) scale(0.4);
  position: absolute;
}

#seccionProyectos button {
  display: block;
  position: absolute;
  top: 50%;
  font-size: 70px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.3s;
}

#seccionProyectos button:hover {
  color: var(--color-hover);
  transform: scale(2);
}

.prev {
  left: 30px;
}
.next {
  right: 30px;
}

/* =========================
  SECCIÓN BOXEO
========================= */
#seccionBoxeo {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 25px;
  gap: 20px;
}

#seccionBoxeo p {
  font-family: var(--fuente-headers), serif;
  font-size: 20px;
}

.listaVideos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style: none;
}

.videosBoxeo {
  width: 95%;
  border-radius: 12px;
  /*aspect-ratio: 16/9;*/
  object-fit: cover;
  transition: transform 0.3s;
}

.videosBoxeo:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/* =========================
  FOOTER
========================= */

footer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-headerYfooter);
  border-top: #8a8a8a 1px solid;
  z-index: 1;
}

.redes ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: right;
  align-items: center;
  padding: 0;
  margin: 0;
}

.imagenesRedes {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
  border-radius: 30%;
}

.imagenesRedes:hover {
  transform: scale(1.2);
}

.copyright p {
  font-size: 17px;
  font-family: var(--fuente-principal), serif;
}

.contacto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacto p {
  font-size: 17px;
  font-family: var(--fuente-principal), serif;
}

.contacto p a:hover {
  color: var(--color-hover);
}

/* =========================
  RESPONSIVE MÓVIL
========================= */

@media (max-width: 600px){
  /*Header*/
  .header{
    padding: 0 10px;
  }

  .tituloHeader{
    font-size: 20px;
  }

  .seleccionarSeccion {
    gap: 15px;
  }

  .opcionSeccion {
    font-size: 15px;
  }

  .opcionSeccion:hover {
    transform: none;
  }

  /*Body*/

  /*Seccion inicio*/
  .titulo {
    font-size: 35px;
  }
  .subtitulo {
    font-size: 20px;
  }

  /*Seccion sobre mi*/
  #seccionSobreMi {
    gap: 15px;
    padding: 40px 40px 320px 40px;
    flex-direction: column;
  }

  .preguntasSobreMi {
    gap: 10px;
    top: 10%;
  }

  .preguntasSobreMi h3 {
    font-size: 18px;
  }

  .preguntasSobreMi p {
    font-size: 12px;
  }

  /*Footer*/
  .redes ul{
    gap: 10px;
  }

  .imagenesRedes {
    width: 22px;
    height: 22px;
  }

  .imagenesRedes:hover {
    transform: none;
  }

  .copyright p{
    font-size: 10px;
  }

  .contacto p{
    font-size: 10px;
    position: relative;
    left: 30px
  }

  .contacto p a:hover{
    color: white;
  }
}