/* =========================
  IMPORTS DE FUENTES
========================= */

@font-face {
  font-family: LeagueSpartan;
  src:
    url("./assets/fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf")
      format("truetype"),
    url("./assets/fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: TiltNeon;
  src:
    url("./assets/fonts/TiltNeon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf")
      format("truetype"),
    url("./assets/fonts/TiltNeon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf")
      format("truetype");
}

/* =========================
   VARIABLES
========================= */

:root {
  /*Fuentes*/
  --fuente-principal: TiltNeon;
  --fuente-headers: LeagueSpartan;

  /*Color*/
  --color-texto: #e8e8e8;
  --color-headerYfooter: #070719;
  --color-body: #1e293b;
  --color-hover: #8b5cf6;
  --color-tarjeta: #120867;
  --color-tarjeta-contacto: #0b1739;

  /*Extra*/
  --red-border: solid red 2px;
}

/* =========================
  RESET / BASE
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: var(--red-border);*/
  color: white;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* =========================
  LAYOUT GLOBAL
========================= */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main section {
  display: none;
  padding: 40px;
  min-height: 100%;
}

.videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

/* =========================
  SPA (LOGICA CON RADIOS)
========================= */

/*Hacemos invisibles los inputs para que no aparezcan en
la pagina pero si funcionen*/
body input[type="radio"] {
  display: none;
}

/*Para hacer un falso SPA, dependiendo de que input esté checkeado,
mostramos una seccion u otra*/
#paginaInicio:checked ~ main #seccionInicio,
#sobreMi:checked ~ main #seccionSobreMi,
#proyectos:checked ~ main #seccionProyectos,
#boxeo:checked ~ main #seccionBoxeo,
#contacto:checked ~ main #seccionContacto {
  display: flex;
}

/* Sección activa destacada */
#paginaInicio:checked ~ header label[for="paginaInicio"],
#sobreMi:checked ~ header label[for="sobreMi"],
#proyectos:checked ~ header label[for="proyectos"],
#contacto:checked ~ header label[for="contacto"],
#boxeo:checked ~ header label[for="boxeo"],
#contacto:checked ~ footer .contacto label[for="contacto"] {
  color: var(--color-hover);
}

/* =========================
  HEADER
========================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  min-height: 60px;
  background: var(--color-headerYfooter);
  border-bottom: #8a8a8a 1px solid;
}

.tituloHeader {
  color: white;
  font-size: 35px;
  font-family: var(--fuente-headers), serif;
  z-index: 1;
}

.seleccionarSeccion {
  font-family: var(--fuente-principal), serif;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 35px;
  z-index: 1;
}

.opcionSeccion {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: white;
  transition: transform 0.3s;
}

.opcionSeccion:hover {
  margin: 0;
  transform: scale(1.5);
  text-align: center;
}

.opcionSeccion label {
  cursor: pointer;
}

.opcionSeccion label:hover {
  color: var(--color-hover);
}

/* =========================
  SECCIÓN INICIO
========================= */

#seccionInicio {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  overflow: hidden;
  min-height: calc(100vh - 120px);
}

.titulo {
  font-family: var(--fuente-headers), serif;
  font-size: 10vh;
  margin: 0;
  text-align: center;
}

.subtitulo {
  font-family: var(--fuente-principal), serif;
  font-size: 5vh;
  margin-top: 10px;
  color: var(--color-hover);
  text-align: center;
}

/* =========================
  SECCIÓN SOBRE MÍ
========================= */

#seccionSobreMi {
  position: relative;
  min-height: calc(100vh - 120px);
  overflow: hidden;
  gap: 30px;
  padding: 100px 130px 100px 130px;
}

.preguntasSobreMi {
  background-color: var(--color-tarjetas);
  border: 1px solid white;
  border-radius: 35px;
  gap: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  min-height: calc(65vh - 120px);
  padding: 20px 15px;
  overflow: hidden;
}

.preguntasSobreMi h3 {
  font-family: var(--fuente-headers), serif;
  font-size: 20px;
  font-weight: bold;
}

.preguntasSobreMi p {
  font-family: var(--fuente-principal), serif;
  font-size: 2vh;
  text-align: justify;
  line-height: 1.6;
}

/* =========================
  SECCIÓN PROYECTOS
========================= */
#seccionProyectos {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 30px;
  overflow: hidden;
}

#seccionProyectos h2 {
  font-family: var(--fuente-headers), serif;
  font-size: 5vh;
}

/*Carrousel*/
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  right: 25px;
}

.nombreEncimaProyecto {
  font-family: var(--fuente-principal), serif;
  font-size: 3vh;
  text-align: center;
  padding: 10px;
}

/* Slides ocultos por defecto */
.slide {
  position: absolute;
  opacity: 0;
  transition: all 0.6s ease;
  transform-origin: center center;
}

/* Slide central */
.slide.active {
  opacity: 1;
  transform: translateX(0) scale(1);
  z-index: 3;
  pointer-events: auto;
  border-radius: 30%;
}

.slide.active img {
  width: 60vh;
  border-radius: 30%;
}

/* Slide lateral visible */
.slide.left,
.slide.right {
  opacity: 0.6;
  filter: blur(2px);
  transition: transform 1s;
  pointer-events: none;
}

.slide.left img,
.slide.right img {
  cursor: not-allowed;
  width: 60vh;
  border-radius: 30%;
}

/* Posiciones fijas */
.slide.left {
  transform: translateX(-600px) scale(0.4);
  position: absolute;
}

.slide.right {
  transform: translateX(600px) scale(0.4);
  position: absolute;
}

#seccionProyectos button {
  display: block;
  position: absolute;
  top: 50%;
  font-size: 70px;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.3s;
}

#seccionProyectos button:hover {
  color: var(--color-hover);
  transform: scale(2);
}

.prev {
  left: 30px;
  z-index: 5;
}
.next {
  right: 30px;
  z-index: 5;
}

/* =========================
  SECCIÓN BOXEO
========================= */
#seccionBoxeo {
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: calc(100vh - 120px);
  padding: 25px;
  gap: 20px;
}

#seccionBoxeo p {
  font-family: var(--fuente-headers), serif;
  font-size: 20px;
}

.listaVideos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  list-style: none;
}

.videosBoxeo {
  width: 95%;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s;
}

.videosBoxeo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* =========================
  SECCIÓN CONTACTO
========================= */

#seccionContacto {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;  /* elementos apilados verticalmente */
  align-items: stretch;    /* inputs y botón ocupan todo el ancho */
  justify-content: flex-start; /* empieza desde arriba */
  border-radius: 5%;
  background-color: var(--color-tarjeta-contacto);
  width: 40%;
  padding: 3vh;
  box-shadow: 30px 30px 30px #000000;
  border: 1px solid #979797;
}

.formulario label {
  font-family: var(--fuente-principal), serif;
  font-size: 20px;
  text-align: start;
}

.formulario input {
  font-family: var(--fuente-principal), serif;
  font-size: 15px;
  color: black;
  margin-bottom: 2.5vh;
  height: 20px;
  width: 100%;
  cursor: text;
}

.formulario button {
  background: white;
  color: var(--color-tarjeta-contacto);
  cursor: pointer;
  height: 40px;
  width: 100%;          /* ocupa todo el ancho */
  box-sizing: border-box;
  border-radius: 15px;
  font-family: var(--fuente-headers), serif;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  margin-top: 1.5vh;   /* espacio desde el último input */
}

.formulario textarea {

}

.formulario input:hover,
.formulario textarea:hover {
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
  background-color: #f0f8ff;
}

.formulario button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-color: #007bff;
  color: white;
}

.formulario button:focus {
  background-color: #bdbdbd;
  outline: none;
}

/* =========================
  FOOTER
========================= */

footer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-headerYfooter);
  border-top: #8a8a8a 1px solid;
  z-index: 1;
}

.redes ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: right;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.imagenesRedes {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
  border-radius: 30%;
}

.imagenesRedes:hover {
  transform: scale(1.2);
}

.copyright {
  z-index: 1;
}

.copyright p {
  font-size: 17px;
  font-family: var(--fuente-principal), serif;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.contacto label {
  font-size: 17px;
  font-family: var(--fuente-principal), serif;
  text-decoration: underline;
  transition: transform 0.3s;
}

.contacto label:hover {
  color: var(--color-hover);
  transform: scale(1.2);
  cursor: pointer;
}

/* =========================
  RESPONSIVE MÓVIL NORMAL
========================= */
@media (min-width: 320px) and (max-width: 480px) {
  /*Header*/
  header {
    padding: 0 5px;
  }

  .seleccionarSeccion {
    gap: 15px;
  }

  .tituloHeader {
    font-size: 15px;
  }

  .opcionSeccion {
    font-size: 15px;
  }

  .opcionSeccion:hover {
    transform: none;
  }

  /*Body*/

  /*Seccion inicio*/

  .titulo {
    font-size: 5vh;
  }

  .subtitulo {
    font-size: 3vh;
  }

  /*Seccion sobre mi*/
  #seccionSobreMi {
    gap: 15px;
    padding: 4.5vh 5vh 38vh 5vh;
    flex-direction: column;
  }

  .preguntasSobreMi {
    gap: 10px;
    top: 10%;
  }

  .preguntasSobreMi h3 {
    font-size: 18px;
  }

  .preguntasSobreMi p {
    font-size: 12px;
  }

  /*Seccion proyectos*/
  #seccionProyectos h2 {
    font-size: 3vh;
    justify-content: center;
  }

  .carousel {
    top: 35%;
    left: 1px;
  }

  .slide.active img {
    width: 27vh;
  }

  .slide.left img,
  .slide.right img {
    width: 42vh;
  }

  .slide.left {
    transform: translateX(-12vh) translateY(30vh) scale(0.4);
  }

  .slide.right {
    transform: translateX(12vh) translateY(30vh) scale(0.4);
  }

  #seccionProyectos button {
    top: 35%;
  }

  #seccionProyectos button:hover {
    color: white;
    transform: none;
  }

  /*Seccion boxeo*/
  #seccionBoxeo p {
    font-size: 2.5vh;
  }

  /*Footer*/
  footer {
    padding: 0 10px;
    min-height: 70px;
  }

  .redes ul {
    gap: 5px;
  }

  .imagenesRedes {
    width: 20px;
    height: 20px;
  }

  .imagenesRedes:hover {
    transform: none;
  }

  .copyright p {
    font-size: 10px;
  }

  .contacto label {
    font-size: 10px;
  }

  .contacto label:hover {
    transform: none;
  }
}

/* =========================
  RESPONSIVE MÓVIL NORMAL
========================= */

@media (min-width: 481px) and (max-width: 768px) {
  /*Header*/
  header {
    padding: 0 15px;
  }

  .tituloHeader {
    font-size: 20px;
  }

  .seleccionarSeccion {
    gap: 15px;
  }

  .opcionSeccion {
    font-size: 15px;
  }

  .opcionSeccion:hover {
    transform: none;
  }

  /*Body*/

  /*Seccion inicio*/
  .titulo {
    font-size: 5vh;
  }
  .subtitulo {
    font-size: 2.5vh;
  }

  /*Seccion sobre mi*/
  #seccionSobreMi {
    gap: 15px;
    padding: 3vh 5vh 38vh 5vh;
    flex-direction: column;
  }

  .preguntasSobreMi {
    gap: 10px;
    top: 10%;
  }

  .preguntasSobreMi h3 {
    font-size: 18px;
  }

  .preguntasSobreMi p {
    font-size: 12px;
  }

  /*Seccion proyectos*/

  #seccionProyectos h2 {
    font-size: 2vh;
    justify-content: center;
  }

  .carousel {
    top: 35%;
    left: 10px;
  }

  .slide.active img {
    width: 40vh;
  }

  .slide.left img,
  .slide.right img {
    width: 55vh;
  }

  .slide.left {
    transform: translateX(-17vh) translateY(35vh) scale(0.4);
  }

  .slide.right {
    transform: translateX(17vh) translateY(35vh) scale(0.4);
  }

  #seccionProyectos button {
    top: 35%;
  }

  #seccionProyectos button:hover {
    color: white;
    transform: none;
  }

  /*Footer*/

  footer {
    padding: 0 15px;
  }

  .redes ul {
    gap: 10px;
  }

  .imagenesRedes {
    width: 25px;
    height: 25px;
  }

  .imagenesRedes:hover {
    transform: none;
  }

  .copyright p {
    font-size: 11px;
  }

  .contacto label {
    font-size: 11px;
    position: relative;
    left: 3vw;
  }

  .contacto label:hover {
    transform: none;
  }
}

/* =========================
  RESPONSIVE TABLET
========================= */

@media (min-width: 769px) and (max-width: 1024px) {
  /*Body*/

  /*Seccion inicio*/
  .titulo {
    font-size: 8vh;
  }

  .subtitulo {
    font-size: 6vh;
  }

  /*Sobre mi*/
  #seccionSobreMi {
    padding: 20vh 8vh 20vh 8vh;
  }

  /*Seccion proyectos*/
  #seccionProyectos h2 {
    font-size: 3.5vh;
  }

  .slide.active {
    transform: translateX(3vh);
  }

  .slide.active img {
    width: 50vh;
  }

  .slide.left img,
  .slide.right img {
    width: 45vh;
  }

  .slide.left {
    transform: translateX(-37vh) scale(0.4);
  }

  .slide.right {
    transform: translateX(42vh) scale(0.4);
  }

  #seccionProyectos button:hover {
    color: white;
    transform: none;
  }

  /*Footer*/
  .contacto label {
    position: relative;
    left: 2vw;
  }

  .contacto label:hover {
    transform: none;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /*Body*/

  /*Seccion proyecto*/
  #seccionProyectos h2 {
    font-size: 3.5vh;
  }

  .slide.active {
    transform: translateX(7vh);
  }

  .slide.active img {
    width: 50vh;
  }

  .slide.left img,
  .slide.right img {
    width: 45vh;
  }

  .slide.left {
    transform: translateX(-37vh) scale(0.4);
  }

  .slide.right {
    transform: translateX(50vh) scale(0.4);
  }

  #seccionProyectos button:hover {
    color: white;
    transform: none;
  }

  /*Footer*/
  .contacto label:hover {
    transform: none;
  }
}
