/*Imports de fuentes*/
@font-face {
  font-family: LeagueSpartan;
  src:
    url("./assets/fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf")
      format("truetype"),
    url("./assets/fonts/LeagueSpartan/LeagueSpartan-VariableFont_wght.ttf")
      format("truetype");
}

@font-face {
  font-family: TiltNeon;
  src:
    url("./assets/fonts/TiltNeon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf")
      format("truetype"),
    url("./assets/fonts/TiltNeon/TiltNeon-Regular-VariableFont_XROT,YROT.ttf")
      format("truetype");
}

/*Animaciones*/
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Variables*/
:root {
  /*Fuentes*/
  --fuente-principal: TiltNeon;
  --fuente-headers: LeagueSpartan;

  /*Color*/
  --color-texto: #e8e8e8;
  --color-header: #0f172a;
  --color-body: #1e293b;
  --color-footer: #0f172a;
  --color-hover: #8b5cf6;

  /*Extra*/
  --red-border: solid red 2px;
}

/*CSS aplicado al HTML*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: var(--red-border);*/
  color: white;
}

/*Hacemos invisibles los inputs para que no aparezcan en
la pagina pero si funcionen*/
body input[type="radio"] {
  display: none;
}

/*Ocultamos todas las secciones para que el falso SPA funcione*/
main section {
  display: none;
  padding: 40px;
  min-height: calc(100vh - 120px);
}

/*Para hacer un falso SPA, dependiendo de que input esté checkeado,
mostramos una seccion u otra*/
#paginaInicio:checked ~ main #seccionInicio,
#sobreMi:checked ~ main #seccionSobreMi,
#proyectos:checked ~ main #seccionProyectos,
#contacto:checked ~ main #seccionContacto,
#boxeo:checked ~ main #seccionBoxeo {
  display: flex;
}

/* Sección activa destacada */
#paginaInicio:checked ~ header label[for="paginaInicio"],
#sobreMi:checked ~ header label[for="sobreMi"],
#proyectos:checked ~ header label[for="proyectos"],
#contacto:checked ~ header label[for="contacto"],
#boxeo:checked ~ header label[for="boxeo"] {
  color: var(--color-hover);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background: var(--color-header);
  border-bottom: #8a8a8a 1px solid;
}

.tituloHeader {
  color: white;
  font-size: 35px;
  font-family: var(--fuente-headers), serif;
}

.navHeader ul {
  font-family: var(--fuente-principal), serif;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 35px;
}

.navHeader ul li {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: white;
  transition: transform 0.3s;
}

.navHeader ul li:hover {
  margin: 0;
  transform: scale(1.5);
  text-align: center;
}

.navHeader ul li label:hover {
  color: var(--color-hover);
}

/* BODY */

body {
  background-color: var(--color-body);
}

/*Seccion inicio todo*/

/* Modificación en la sección para que sea el marco de referencia */
#seccionInicio {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.titulo {
  font-family: var(--fuente-headers), serif;
  font-size: 100px;
  margin: 0; /* Quita márgenes por defecto que puedan descentrar */
}

.subtitulo {
  font-family: var(--fuente-principal), serif;
  font-size: 24px;
  margin-top: 10px;
  color: var(--color-hover);
}

.videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between; /* Separación máxima entre elementos */
  align-items: center; /* Centrado vertical */
  padding: 10px 20px;
  background-color: var(--color-footer);
  border-top: #8a8a8a 1px solid; /* Color de fondo opcional */
}

.redes ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: right;
  align-items: center;
  padding: 0;
  margin: 0;
}

.redes li img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
  border-radius: 30%;
}

.redes li img:hover {
  transform: scale(1.2); /* Efecto al pasar el mouse */
}

.copyright {
  display: flex;
  text-align: left;
  font-size: 15px;
  color: white;
}
